*{
  margin:0;
  padding:0;  
}

#banner { 
  position: absolute; 
  top: 0; 
  left: 0; 
  background-color: grey; 
  width: 100%; 
  padding: 10px;
}

#banner-content { 
  width: 95%; 
  margin: auto;

  #banner-left { 
    float: left;
  }
  #banner-right { 
    float: right;
  }
}

#main-content { 
  padding-top: 70px;
  text-align:center;

  h1#title {
    margin: auto;
    width: 50%;
  }
  table#calendar {
    margin-left: auto;
    margin-right: auto;
  }
}

div#column {
  float: left;
  width: 50%;
}

div#row:after {
  content: "";
  display: table;
  clear: both;
}

p#centered-text {
  margin: auto;
  width: 50%;
}

div#thin_green_rectangle {
  border-radius: 5px;
  background-color: rgb(133,140,119);
  padding: 5px;
  margin: 1em; 
}

a:link {
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}