*{
  margin:0;
  padding:0;
}

/* Page Structure */
body#home {
  background-color: rgb(112, 124, 100);
}

#banner { 
  position: absolute; 
  top: 0; 
  left: 0; 
  background-color: rgb(250, 235, 242);
  width: 100%; 
  padding: 10px;
}

#banner-content { 
  width: 95%; 
  margin: auto;

  #banner-left { 
    float: left;
  }
  #banner-right {
    margin: 10px; 
    float: right;
  }
}

#main-content { 
  padding-top: 100px;
  text-align:center;
  height: 80%;
}

div#column-half {
  float: left;
    width: 50%;
}

div#column-third {
  float: left;
  width: 40%;
}

div#column-two-thirds {
  float: left;
  width: 60%;
}

div#row:after {
  content: "";
  display: table;
  clear: both;
}

/* Shapes */
div#thin-green-rectangle {
  border-radius: 40px;
  background-color: rgb(133,140,119);
  padding: 15px;
  margin: 1em; 
}

/* Page Elements */

table#calendar {
  margin-left: auto;
  margin-right: auto;
}

div#green-text-box {
  border: 1px solid #5b6946;
  margin-top: 1em;
  width: 75%;
}

/* Image Formatting */
img#lower-left {
  position: fixed;
  bottom: 0;
  left: 0;
}

img#lower-right {
  position: fixed;
  bottom: 0;
  right: 0;
}
img#middle-right {
  position: fixed;
  top: 10;
  right: 0;
}
/* Text Formatting */

h1#title {
  margin: auto;
  width: 50%;
}

p#centered-text {
  margin: auto;
  width: 50%;
}

a#white-link {
  color: #ffff;
  background-color: transparent; 
  text-decoration: none;
  font-size: 25px;
  margin-left: 5px;
}

a:hover#white-link {
  color: black;
  background-color: transparent; 
  text-decoration: none;
  font-size: 25px;
  margin-left: 5px;
}

#banner-content a:link, a:visited {
  color: rgb(112, 124, 100);
  background-color: transparent; 
  text-decoration: none;
  font-size: 25px;
  margin-left: 5px;
}

#banner-content a:hover, a:active {
  color: rgb(56, 44, 68);
  background-color: transparent;
  text-decoration: none;
  font-size: 25px;
  margin-left: 5px;
}

#active-page {
  color: rgb(56, 44, 68);
  background-color: transparent;
  text-decoration: none;
  font-size: 25px;
  margin-left: 5px;
}
